[submodule "HCI-AI-Planner"]
	path = HCI-AI-Planner
	url = https://github.com/pupungeggang2/HCI-AI-Planner
[submodule "ScribbleGameJS"]
	path = ScribbleGameJS
	url = https://github.com/pupungeggang2/ScribbleGameJS
